* {
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
 
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 1200px;
  height: 80vh;
  display: flex;
}


.status {
  /* width:25%; */
  flex-basis: 25%;
  background-color: cadetblue;
  position: relative;
}

.status:nth-child(even){
  background-color: darkgrey;
}
.status h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343434;
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

#add_btn {
  padding: 0.5rem 1rem;
  background-color: indianred;
  outline: none;
  border: none;
  width: 20%;
  font-size: 1.5rem;
  margin: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover {
  background-color: lightgreen;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(15,15,15,15,0.1) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  position: relative;
  top: 60px;
}

.todo .close {
  position: absolute;
  right: 1rem;
  top: orem;
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.todo .close:hover {
  color: red;
}


/* add data */

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

btn:active{
  transform: scale(0.5);
}

.model-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.model {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: top 0.5s ease-in-out;
  border: 2px solid rgb(212, 196, 196);
  border-radius: 10px;
  z-index: 2;
  background-color: white;
}

.model.active {
  top: 15%;
}

.header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;

}

#overlay
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


#overlay.active {
  display: block; 
}

#todo_input,
#todo_submit {
  padding:0,5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#todo_submit {
  background-color: rgb(9, 187, 9);
  color: white;
  font-size: 1.25rem;
  border: none;
}